packages:
  yum:
    mysql-devel: []       # MySQL client libraries & headers
    python3-devel: []     # Python C API headers
    gcc: []               # C compiler

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Amazon/wsgi.py

container_commands:
  01_pip_upgrade:
    command: "pip install --upgrade pip"
  02_pip_requirements:
    command: "pip install -r requirements.txt"